<div class="postContainer container-fluid mt-5">
    <div class="card">
        <div id="card-body">
            <h3 class="card-header login-header">Login</h3>
            </br>
            <form id="login" class="form login-form">
                <div class="form-group">
                    <label for="name-login" class="name-login">Username:</label>
                    <input class="form-input" type="text" id="name-login" />
                </div>
                <div class="form-group">
                    <label for="password-login" class="password-login">Password:</label>
                    <input class="form-input" type="password" id="password-login" />
                </div>
                <div class="form-group">
                    <button class="btn btn-primary login-button" type="submit">Login</button>
                </div>
                </br>
                <h3 class="form-group">Dont have an account? <a href="/signup">Sign up here!</a>
                </h3>
            </form>
        </div>
    </div>
</div>

<script src="/js/login.js"></script>