<div class="container-fluid vh-100 postContainer" style="margin-top:100px">
    <div class="rounded d-flex justify-content-center login-container">
        <div class="col-md-4 col-sm-12 shadow-lg p-5" id="login-card">
            <div class="text-center">
                <h3 id="login-title">Login</h3>
            </div>
            <form id="login" class="p-4 login-form">
                <div class="input-group mb-3 login-text">
                    <span class="input-group-text user-icon"><i class="bi text-white"></i></span>
                    <input type="text" class="form-control" id="name-login" placeholder="Username">
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text password-icon">
                        <i class="bi  text-white "></i></span>
                    <input type="password" class="form-control " id="password-login" placeholder="Password">
                </div>
                <div class="d-grid col-12 mx-auto">
                    <button class="btn login-button" type="submit"><span></span> Login</button>
                </div>
                <br>
                <p class="text-center mt-3 login-text">Dont have an account?
                    <a href="/signup" class="login-link">Signup!</a>
                </p>
            </form>
        </div>
    </div>
</div>
</div>

<script src="/js/login.js"></script>