<div class="card">
    <div class="card-body">
        <h3 class="card-header">Sign up:</h3>
        </br>
        <form id="signup" class="signup-form">
            <div class="form-group">
                <label for="username-signup">Username:</label>
                <textarea class="form-control" type="text" id="username-signup" />
            </div>
            <div class="form-group">
                <label for="email-signup">Email:</label>
                <textarea class="form-control" type="text" id="email-signup"></textarea>
            </div>
            <div class="form-group">
                <label for="password-signup">Password:</label>
                <textarea class="form-control" type="password" id="password-signup"></textarea>
            </div>
            <button class="btn btn-primary" id="signup-btn" type="submit">Sign up!</button>
        </form>
    </div>
    <a href="/login">Need to log in instead? Click here!</a>
</div>

<script src="/js/signup.js"></script>