<div class="container-fluid signup-container card" style="margin-top:40px">
    <div class="rounded d-flex justify-content-center">
        <div class="text-center"></div>
        <h3 id="signup-title">Sign up</h3>
    </div>
    <div class="signup-form">
        <form id="signup" class="signup-text">
            <div class="form-group">
                <label for="username" class="username-signup">Username:</label>
                <input class="form-control" type="text" id="username-signup" /></input>
            </div>
            <div class="form-group">
                <label for="email" class="email-signup">Email:</label>
                <input class="form-control" type="text" id="email-signup"></input>
            </div>
            <div class="form-group">
                <label for="password" class="password-signup">Password:</label>
                <input class="form-control" type="password" id="password-signup"></input>
            </div>
            <button class="btn btn-primary" id="signup-btn" type="submit">Sign up!</button>
        </form>
    </div>
    <br>
    <a href="/login" class="go-to-login">Need to log in instead? Click here!</a>
    <br>
</div>
<script src="/js/signup.js"></script>