* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
:root {
    --dark: rgb(44, 54, 57);
    --teal: rgb(63, 78, 79);
    --tan: rgb(162, 123, 92);
    --light: rgb(220, 215, 201);
}
main {
    background-color: var(--light);
}
/* ========HEADER======== */
.cheers-icon {
    width: 200px;
    height: 100px;
}
.cheers-gif {
    width: 300px;
    height: 200px;
}
#jumbo-header {
    width: 100%;
    height: 550px;
    overflow: hidden;
}
/* ========NAVBAR======== */
.nav-link {
    color: white;
    text-decoration: none;
    font-size: 22px;
}
.nav-link:hover {
    color: var(--tan);
}
#nav-background {
    background-color: var(--dark);
}
#logout {
    text-decoration: none;
}

/* =====================HOMEPAGE======================= */
#homepage-title {
    font-size: 36px;
    padding: 15px;
    text-align: center;
    background-color: var(--blue);
    color: white;
    border-radius: 25px;
}
#home-post-link {
    font-size: 26px;
    text-decoration: none;
    color: black;
    padding-bottom: 5px;
    font-weight: bold;
}
#home-post-link:hover {
    opacity: 0.65;
}
#home-post-content {
    /* font-size: 20px; */
    text-decoration: none;
    font-size: 18px;
    margin-top: 5px;
    margin-bottom: 15px;
    padding-left: 20px;
    padding-bottom: 10px;
}
.home-card {
    border: none;
    border-radius: 12px;
}
.home-title {
    color: rgb(44, 54, 57);
}

.home-description {
    padding-left: 45px;
    text-indent: 5px;
}
/* =====================HOMEPAGE======================= */
#card-body {
    border-radius: 25px;
    margin-bottom: 15px;
    background-color: var(--teal);
    color: white;
}
.login-header {
    color: var(--light);
}
.signup-link {
    color: var(--tan);
}
.signup-text {
    color: var(--light);
}
.name-login,
.password-login {
    font-size: 24px;
    padding: 5px;
}
#name-login,
#password-login {
    padding-left: 10px;
    width: 25%;
    height: auto;
    font-size: 26px;
    border-radius: 12px;
}
#login {
    padding-left: 45px;
    text-indent: 5px;
}
.login-button {
    border-radius: 25px;
    color: white;
    background-color: var(--gray);
    border: none;
    font-size: 25px;
}
